<%= simple_form_for([@post, @post.comments.build]) do |f| %>

  <div class="col-md-12">
    <h4>Leave a comment</h4>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.input :message %>
      </div>
      <div class="col-md-12 text-right">
        <%= f.button :submit, class: "btn-primary" %>
      </div>
    </div>
  </div>

<%end%>
