<% @post.comments.each do |comment|%>
  <% if comment.name != nil %>
    <div class="card" style="margin-top: 10px; padding: 10px 0 5px 10px">
      <div class="row">
        <div class="col-md-10">
          <p><strong><%=comment.name%></strong>: <%= comment.message%></p>
        </div>
        <div class="col-md-2 text-center">
          <%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
