<% content_for :page_title, "Edit Post"%>
<div class="container">
  <%= simple_form_for @post do |f| %>
    <div class="col-md-12">
      <%= f.input :title %>
    </div>
    <div class="col-md-12">
      <%= f.input :content %>
    </div>
    <div class="col-md-12 text-right">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  <%end%>
</div>
