<% content_for :page_title, "All Posts"%>
<div class="container" style="margin-top:20px">
  <% @posts.each do |post|%>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-danger"><%= link_to post.title, post %></h4>
        <p class="card-text"><%= truncate(post.content, :length => 300, :omission => '... (continued)') %></p>
      </div>
    </div><br>
  <%end%>
</div>
