<%content_for :page_title, @post.title%>


<div class="container">
  <div class="col-md-12" style="margin-top: 35px">
    <div class="row">
      <div class="col-md-10">
        <p><%= @post.content %></p>
      </div>
      <div class="col-md-2 text-center">
        <b><h4>Actions</h4></b>
        <div class="col-md-12 text-center">
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-info btn-sm" %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>

    <br><br>
  </div>
  <div class="col-md-12">
    <h5><strong><%= @post.comments.count %></strong> comments</h5>
    <hr>
  </div>

  <%=render 'comments/comment_form'%>
  <hr>
  <%=render 'comments/post_comments'%>

  <br><br><br>

</div>
